layout go

export GOPRIVATE="github.com/bckground/*"

if [ -z "${CI}" ]; then
    PATH_add bin/

    dotenv_if_exists .env.local
    dotenv_if_exists local.env
else
    PATH_add "${GITHUB_WORKSPACE}"/bin/

    dotenv .env.ci
fi
